.bg-dashed {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255, 255, 255, 0.2) 10px,
    rgba(255, 255, 255, 0.2) 12px
  );
}

.bg-dotted {
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 1px,
    transparent 2px
  );
  background-size: 20px 20px;
}

.bg-dashed-lines {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='white' fill-opacity='0.1'%3E%3Crect x='0' y='0' width='7' height='2' rx='1.5'/%3E%3Crect x='12' y='8' width='7' height='2' rx='1.5'/%3E%3C/g%3E%3C/svg%3E");

  /* 3. Sizing (Adjust this to zoom the pattern in or out) */
  background-size: 24px 16px;
  background-repeat: repeat;
}
